@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TESCO SW a.s.">
    <title>@ViewData["Title"] - Mepis_rozcestnik</title>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/minmax.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mepis_rozcestnik.styles.css" asp-append-version="true" />
</head>
<body onload="init()">
    <header>
        <h1 class="screen-reader-only">Majtekový ekonomický a právní informační systém MEPIS</h1>
        <img src="~/images/logo.png" alt="Logo Majtekového ekonomického a právního informačního systému MEPIS">
    </header>

    <aside>
        <h2>Oznámení</h2>
        @RenderBody();
    </aside>

    <main>
        <div class="card">
            <form id="frm" asp-controller="App" asp-action="process_form">
                ProductName>
                <div class="inputs">
                    <label for="env">Prostředí</label>

                    <select name="env" id="env" onchange="handle_env_change()">
                        <option value="test">Test</option>
                        <option value="production">Produkce</option>
                        <!-- <option value="dev">Test</option> -->
                    </select>

                    <label for="uziv">Uživatelé</label>

                    <select name="usr" id="usr">
                        <option value="uzsvm">ÚZSVM</option>
                        <option value="tescosw">TESCO SW</option>
                    </select>
                </div>

                <ul class="links">
                    <li class="link">
                        <input type="submit" value="MEPIS portál" id="mepis" name="btn"/>
                    </li>
                    <li class="link">
                        <input type="submit" value="Integrační platforma" id="integ" name="btn" />
                    </li>
                    <li class="link">
                        <input type="submit" value="Reporty" id="reports" name="btn" />
                    </li>
                </ul>
            </form>
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div id="copyright">TESCO SW a.s. © </div>
    </footer>

    <script>
        new ShowMore('.article-content', {
            config: {
                type: "text",
                limit: 200,
                more: " Číst více",
                less: " Číst méně"
            }
        });
    </script>

</body>
</html>
