@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<article>
    <time datetime="2022-11-14">14. listopadu</time>
    <h3>Plánovaná odstávka</h3>
    <div class="article-content">
        <p>
            Dne 30. 11. bude v době od 20:00 - 24:00 tato stánka nedostupná z důvodu zálohování a údržby serveru.
            Omlouváme se za nepříjmenosti a děkujeme za pochopení.
        </p>
    </div>
</article>

<article class="warning-message">
    <time datetime="2022-11-02">2. listopadu</time>
    <h3>Odcizená data</h3>
    <div class="article-content">
        <p>
            Dnes v nočních hodinách se podařilo hackarům odcizit část dat z aplikace MEPIS. Veškerá naše data jsou
            však anonymizovaná, proto nedošlo k žádnému úniku informací. Do aplikace se můžete bezpečně přihlásit
            pod vašimi stávajícími údaji.
        </p>
    </div>
</article>

<article>
    <time datetime="2022-11-01">1. listopadu</time>
    <h3>This is an long long message for everyone in this company using this app</h3>
    <div class="article-content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, voluptatibus. Error, incidunt cumque.
            Aliquid rem ullam soluta mollitia, laborum alias similique animi vero fugiat quam? Cumque debitis
            voluptatem necessitatibus quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem,
            voluptatibus. Error, incidunt cumque. Aliquid rem ullam soluta mollitia, laborum alias similique animi
            vero fugiat quam? Cumque debitis voluptatem necessitatibus quam. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Rem, voluptatibus. Error, incidunt cumque. Aliquid rem ullam soluta mollitia, laborum
            alias similique animi vero fugiat quam? Cumque debitis voluptatem necessitatibus quam.
        </p>
        <ul>
            <li>You can do this</li>
            <li>Or this</li>
            <li>And this is the best option of all</li>
        </ul>
    </div>
</article>

<article>
    <time datetime="2022-10-10">10. října</time>
    <h3>Maecenas libero</h3>
    <div class="article-content">
        <p>
            Nulla non lectus sed nisl molestie malesuada. Praesent in mauris eu tortor porttitor accumsan. Nulla
            pulvinar eleifend sem. Integer pellentesque quam vel velit. Mauris elementum mauris vitae tortor.
            Maecenas aliquet accumsan leo. Nullam at arcu a est sollicitudin euismod. Nullam eget nisl. Phasellus et
            lorem id felis nonummy placerat. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Maecenas
            ipsum velit, consectetuer eu lobortis ut, dictum at dui. Fusce wisi. Maecenas aliquet accumsan leo.
            Aliquam erat volutpat.
        </p>
    </div>
</article>

<article>
    <time datetime="2022-09-30">30. září</time>
    <h3>Nunc dapibus tortor vel mi dapibus sollicitudin</h3>
    <div class="article-content">
        <p>
            Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit
            amet ante. Sed ac dolor sit amet purus malesuada congue. Ut tempus purus at lorem. Integer tempor.
            Phasellus et lorem id felis nonummy placerat. Etiam dictum tincidunt diam. Vivamus luctus egestas leo.
            Sed convallis magna eu sem. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Duis risus. Integer vulputate sem a nibh rutrum consequat. Duis ante orci, molestie vitae
            vehicula venenatis, tincidunt ac pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam
            dictum tincidunt diam. Aliquam erat volutpat. Nulla non arcu lacinia neque faucibus fringilla.
        </p>
    </div>
</article>
